# Kubernetes
alias k='kubectl'
#alias kn='kubectl config set-context --current --namespace '
alias kn='kubens'
alias kc='kubectx'
#alias helm-clean='helm ls --short | xargs -L1 helm delete'
alias kgp='kubectl get pods'
alias kgs='kubectl get svc'
alias kgn='kubectl get nodes'
alias kga='kubectl get pods,svc,ing'
alias klog='kubectl logs -f'
alias kd='kubectl describe'

# Misc
alias start-mongo='sudo mongod --logpath /var/log/mongodb/mongod.log --fork'
alias py3='python3'
alias tf='terraform'
alias py='python3'
#alias http-server='deno run --allow-net --allow-read https://deno.land/std/http/file_server.ts -p 8080 --host localhost'
alias bs='browser-sync start --server --single --no-ui --no-open --no-notify --watch'
alias pubkey='cat ~/.ssh/id_rsa.pub'
alias gmt='go mod tidy'

# WSL4life
alias timesync='sudo hwclock -s'
alias wsl-ip="ip addr show eth0 | grep \"inet 1\" | awk '{print \$2}' | cut -d/ -f1"
alias dnsfix='echo "nameserver 8.8.8.8" | sudo tee /etc/resolv.conf'

# Docker
alias start-docker='sudo /etc/init.d/docker start'
alias stop-docker='sudo /etc/init.d/docker stop'
alias docker-prune='docker container prune -f && docker image prune -f && docker volume prune -f && docker buildx prune -f'
alias docker-wipe='docker buildx prune -a && docker image prune -a'
alias docker-clean='docker rm -f $(docker ps -a -q)'

# Git & GitHub
alias g='git'
alias gmc='git add . && gitmoji -c'
alias gh-open='gh repo view --web'

# Azure CLI
alias az-airs='az account set -s $AZ_SUB_AIRS && az account show -o table'
alias az-vs='az account set -s $AZ_SUB_VS && az account show -o table'
alias az-nukerg='az group delete --no-wait --yes -g'
alias az-cust='az account set -s $AZ_SUB_CUST'

# Node
alias npm-clean='rm -rf node_modules && rm -rf package-lock.json && npm install'
