#[credential]
#	helper = /mnt/c/Tools/gcmw-v1.20.0/git-credential-manager.exe
#	#helper = /mnt/c/Tools/gcm/git-credential-manager-core.exe
#[credential "https://dev.azure.com"]
#	useHttpPath = true
[user]
	email = benc.uk@gmail.com
	name = Ben Coleman
[push]
	default = simple
[pull]
	rebase = false		
[core]
	editor = code --wait
[init]
	defaultBranch = main
[http]
	cookiefile = /home/ben/.gitcookies
[alias]
	a = "!git add -A"
	amend = "!git add -A && git commit --amend --no-edit"
	c = "!git commit"
	ac = "!git add -A && git commit -m"

	new = "!git checkout -b"
	k = "!git checkout"
	def = "!git checkout $(git symbolic-ref refs/remotes/origin/HEAD | sed 's@^refs/remotes/origin/@@')"
	b = "!git --no-pager branch"
	del = "!git branch -D"

	list = "!git --no-pager branch --list --all"
	ls = "!git list -vv"
	lg = "!git --no-pager log --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit -n "
	s = "!git status"
	sr = "!git show-ref --head --abbrev"
  now = "!git --no-pager log -n 1 --pretty=oneline"

	p = "!git push"
	pf = "!git push --force" #origin $(git rev-parse --abbrev-ref HEAD)"
	publish = "!git push --set-upstream origin $(git branch-name)"
	pub = "!git publish"

	u = "!git pull"
	ur = "!git pull --rebase"

	f = "!git fetch --all --verbose"
	fprune = "!git fetch --all --prune --verbose" #origin $(git rev-parse --abbrev-ref HEAD)"
	r = "!git remote -v"

	undo = "!git reset --soft HEAD^"
	unstage = "!git reset HEAD"

	branch-name = "!git rev-parse --abbrev-ref HEAD"
[credential "https://github.com"]
	helper = 
	helper = !/home/ben/.local/bin/gh auth git-credential
