[credential]
	helper = /mnt/c/Tools/gcmw-v1.20.0/git-credential-manager.exe
[user]
	email = benc.uk@gmail.com
	name = Ben Coleman
[push]
	default = simple
[pull]
	rebase = false		
[core]
	editor = code --wait
[init]
	defaultBranch = main
[http]
	cookiefile = /home/ben/.gitcookies
[alias]
	a = "!git add -A"
	c = "!git commit"
	ac = "!git add -A && git commit"
	new = "!git checkout -b"
	k = "!git checkout"
	b = "!git branch"
	p = "!git push"
	#origin $(git rev-parse --abbrev-ref HEAD)"
	pf = "!git push --force"
	#origin $(git rev-parse --abbrev-ref HEAD)"
	amend = "!git add -A && git commit --amend --no-edit"
	undo = "!git reset --soft HEAD^"
	unstage = "!git reset HEAD"
